/* full page inspection */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body bg color */
body {
  background: #222;
}
/* card style  */
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
/* search field style  */
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* search bar style  */
.search input {
  border-radius: 5px;
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
  color: #222;
  margin-right: 16px;
}
/* search button style  */
.search button {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.search button img {
  width: 20px;
  cursor: pointer;
}
/* weather icon style  */
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
/* temperature style  */
.temp {
  font-size: 80px;
  font-weight: 500;
}
/* city name style  */
.city {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
/* weather details style  */
.details {
  margin-top: 50px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}
.col {
  display: flex;
  text-align: left;
  align-items: center;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 29px;
  margin-top: -6px;
}
.weather {
  display: none;
}
